body {
  background:rgb(115, 120, 107);
}

.dino {
  position: absolute;
  bottom: 0;
  background-image: url(/img/dino.png);
  width: 60px;
  height: 60px;
}

.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background-image: url(/img/cactus.png);
}

.game-over {
  text-align: center;
  color: #FFF;
  margin: 100px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4rem;
}

@keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

.background {
  position: absolute;
  bottom: 250px;
  background-image: url('/img/background.png');
  background-repeat: repeat-x;
  animation: slideright 600s infinite linear;
  -webkit-animation: slideright 600s infinite linear;
  width: 100%;
  height: 200px;
}

.bg-footer{
    text-align: center;
    background-color: black;
    color: white;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	font-weight:bold;
	padding:15px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
#botao{
  align-items: center;
  position: absolute;
    top: 25%;
    left: 45%;
}